{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}

    <h5><b>Introduction</b></h5>
    <p>
    Mental illness is a significant cause of the global health burden and a leading cause of disability worldwide.
    Unfortunately, most people with mental illnesses do not receive treatment. This is especially true
    for people in low and middle-income countries (LMICs). Many countries in Sub-Saharan Africa are LMICs that are especially affected by the burden of mental illnesses.
    Access to mental health services is particularly poor in Sub-Saharan Africa because of the social
    and financial burdens that mental illnesses pose on individuals. For instance, stigma around
    mental health limits access to mental health resources. From physicians who believe that people
    with mental disorders lack stamina to deal with life’s difficulties to community members who think them ‘bewitched’, stigma often discourages help-seeking and perpetuates the social
    costs of mental illness. Beyond this, governments in Sub-Saharan Africa allocate meagre
    resources to mental health. Many invest less than 1% of their national health budget on mental
    health. As such, individuals suffering from mental disorders in Sub-Saharan
    Africa often bear the social and economic costs of mental illnesses in their communities.
    </p>
    <p>
    Adolescent mental health is particularly important. It has been shown that most mental
    illness begin during adolescence, that adolescents have difficulty accessing treatment, and that
    mental illnesses in adolescence can lead to long-term consequences. Adolescent mental health is neglected in Sub-
    Saharan Africa even though adolescents make up 23% of the population, the greatest proportion
    of the population in the world (UNICEF, 2016). As such, the prevalence of these disorders is
    unknown in many Sub-Saharan African countries, limiting the case for broader awareness of mental
    illnesses and greater spending on psychosocial interventions. Furthermore, factors
    associated with mental illnesses are poorly understood, leaving few targets for intervention.
    </p>
    <br>

    <h5><b>Where we come in</b></h5>
    <p>
        Understanding mental illnesses in adolescents in the general population may inform
        developmentally appropriate mental health interventions and trigger appropriate social discourse.
        Additionally, it is especially important to understand mental illness in the context of schools. In
        under-resourced areas, school-based interventions hold promise as they are able to build on
        existing community resources.<br><br> Still, if the prevalence of mental
        illnesses was better understood, local and national governments, the private sector, and
        nonprofits may be more likely to invest in mental health interventions.
        In Shamiri, we administer measures of depression, anxiety, social support, and
        gratitude. The purpose of this intervention is to
        examine the prevalence of depression and anxiety, examine associations between these
        measures, and identify moderators of depression and anxiety.
    </p><br>

    <h5><b>Our Structure</b></h5>
    <p>
        Participants complete a informational questionnare and a mental health and wellness
        measure. The informational questionnaire asks participants about age, gender, school stage. The mental
        health and wellness measure used in this study is The Patient Health Questionnaire-9 (PHQ-9). It is a 9-item
        instrument used widely to screen for the presence and severity of depression around the globe. And it
        has been validated for adolescents and the youth.<br><br>
        We use the PHQ-9 form to evaluate the participant's eligibility for our intevention. All their responses would be kept
        private and separated from any personally identifying information.
        If the participant is eligible,
        we take them through a 3-module intervention: Growth Mindset, Gratitude Journaling, and Value Affirmation. The goal of the intervention
        is in line with Shamiri's mission to promote wellness and resilience in our participants.
    </p>

{% endblock %}