{% extends "layout.html" %}

{% block title %}
    Administrator
{% endblock %}

{% block main %}

    <style>
    body
    {
        background-image: url('/static/images/desk.jpg');
        background-size: cover;
    }
    </style>

    <form action="/admin" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>

    <script>
      document.querySelector('form').onsubmit = function(e) {
            e.preventDefault();
            $.get('/check', {username: document.querySelector('input[name=username]').value}, function(data) {
                if (data) {
                    document.querySelector('form').submit();
                }
                else {
                    alert('Username is not available');
                }
            });
        };



    </script>
{% endblock %}
