{% extends "layout.html" %}

{% block title %}
    Intervention
{% endblock %}

{% block main %}
    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h3 class="mb-3"><b>Intervention</b></h3>

     <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/intervention" method="post">

    <h4><b>Module One: Growth Mindset</b></h4><br>
    <h5>Introduction to Growth Mindset</h5>
<p>
    The brain is a mystery to many people. We think that intelligence is fixed, and that people are born smart, average or dumb and
    stay that way their whole lives. But new research shows that brain is like a muscle and it changes and gets stronger the more you use it.
    Scientists can now show how the brain grows when you learn.
    If you go to the gym and lift weights, after a while your muscles begin to grow. Muscles become larger and stronger with exercise.
    When you stop exercising, the muscles become weaker and smaller. Likewise, if you are an athlete, after practicing you are able to run longer and faster.
    The brain works in the same way. When you practice and learn new things, parts of the brain change and get larger a lot like muscles do when they exercise.
    Inside the brain, there are billions of small cells called neurons. They have branches that connect them to other cells in a network just like a road network.
    When these cells communicate, we are able to think and solve problems.
    When learn, the tiny connections in our brain multiply and get stronger just like muscles. The more you challenge your mind, the more the brain cells grow.
    Things that you found hard and intimidating – i.e. algebra or chemistry – start becoming easier.
</p>
<p>
    Having a growth mindset is believing you can grow, improve, and become better in whatever you endeavor to become better at.
    The brain is a mystery to many people. We think that intelligence is fixed, and that people are born smart, average or dumb and
    stay that way their whole lives. But new research shows that brain is like a muscle and it changes and gets stronger the more you use it.
    Scientists can now show how the brain grows when you learn as recent advances in neuroscience have shown us that the brain is far more malleable than we ever knew.
    For example, If you go to the gym and lift weights, after a while your muscles begin to grow. Muscles become larger and stronger with exercise.
    When you stop exercising, the muscles become weaker and smaller. Likewise, if you are an athlete, after practicing you are able to run longer and faster.<br><br>
    The brain works in the same way. When you practice and learn new things, parts of the brain change and get larger a lot like muscles do when they exercise.
    Inside the brain, there are billions of small cells called neurons. They have branches that connect them to other cells in a network just like a road network.
    When these cells communicate, we are able to think and solve problems.
    When we learn, the tiny connections in our brain multiply and get stronger just like muscles.
    Research on <a href="https://www.youtube.com/watch?v=ELpfYCZa87g">brain plasticity</a> has shown how connectivity between neurons can change with experience. With practice, neural networks grow new connections, strengthen existing ones, and build insulation that
    speeds transmission of impulses. These neuroscientific discoveries have shown us that we can increase our neural growth by the actions we take, such as using good strategies, asking questions, practicing, and
    following good nutrition and sleep habits. The more you challenge your mind, the more the brain cells grow.
    Things that you found hard and intimidating – i.e. algebra or chemistry – start becoming easier.
    At the same time that these neuroscientific discoveries were gaining traction, researchers began to understand the link between mindsets and achievement. It turns out, if you believe your brain can grow, you behave differently.
    So the researchers asked, “Can we change mindsets? And if so, how?” This began a series of interventions and studies, like Shamiri, that prove we can indeed change a person’s mindset from fixed to growth, and when we do, it leads to
    increased motivation and achievement. It's important to note, however, that this growth
    not only applies to academics but also most spheres of our lives, including our mental health and wellness.
    <br><br>

</p>

   <h5>Testimonials</h5>
<p>
    To put the concept of growth mindset into perspective, we're going to use testimonials to understand how others have applied this concept to great effect in their lives.
</p>
<p>
All testimonials will follow a similar pattern, the characters will talk about:<br><br> (a) how they faced challenges and setbacks.<br><br> (b) how they overcame them via effort.<br><br>  (c) how they showed growth in their abilities through trying, learning and growing along the way.<br><br>
The testimonials are divided into two categories:<br><br> (a) <a href="https://www.youtube.com/watch?v=jYNG5XhrvGQ">personal initiative growth stories.</a><br><br> (b) <a href="https://resources.globoforce.com/globoforce-blog/growth-mindset-feedback-and-the-power-of-peers">peer-support testimonials.</a><br><br>

</p>

<h5>Your Growth Story</h5>
<p>How do you think the ideas from the video/article/session
could be applied to the lives of youth like you?</p>
<p>
    As you reflect upon this question, think about your own growth story about your experience of trying something, failing, feeling discouraged, thinking of giving up, learning from your failures, and eventually overcoming and succeeding.<br>
    <textarea id="growth" name="growth" placeholder="Growth Story.."></textarea>
    <div id="button">
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</p><br>

<h5>Homework (Doing is Believing)</h5>
<p>Youth like us face lots of daily challenges. For example, we have disagreements with our friends or have trouble getting the grades we want in a tough class. As we learned today, the growth mindset allows us to see these challenges as an opportunity to learn and grow and we can improve our relationships and grades with practice, effort and by trying new strategies.
This week, your homework is to notice a time (or a few times!) when you face a challenge.
When you notice you are facing a challenge sometime this week, consider how what you learned about today (on how the brain can change and you can grow in your skills) could help you think about and tackle that challenge.
You may also notice that you wish you had handled challenges differently at times this week. Take note of these times as well and consider how, with a growth mindset, you might be able to do things differently in the future.
</p><br>

<h5>Letter to others (Saying is believing)</h5>
<p>
    For this activity, you will write about how growth mindsets can be used to help another student.
    Imagine that you had an important exam, and you received a poor grade. How do you think you would feel? What kinds of thoughts do you think you would have?
    Now, imagine that the same event you just wrote about happened to a friend of yours. What could you say to help your friend understand that they can change,
    or things that are happening to them can change? How could you use the information we’ve discussed to support your friend? When writing to them,
    think about what you learned about growth mindsets. Also think about effective strategies that one can use.

</p><br>

<h4><b>Module Two: Gratitude Journaling</b></h4>
<p>
    The gratitude journaling intervention is designed to help you notice things in your life that you are grateful for.
    This session draws from past research studies showing that participants can become more grateful through practice.
</p>
<p>
    Key points:<br>
    <ul>
        <li>Research suggests that showing gratitude can help people feel happier and more productive.</li>
        <li>Gratitude involves focusing on good things and expressing thanks for those things.</li>
        <li>It can be useful to recognize that many good things in our lives are caused by other
        people, and we can express gratitude to them.</li>
        <li>Everyone has things that they can be grateful for.</li>
        <li>However, it’s not always easy to feel grateful.</li>
        <li>Fortunately, many researchers have shown that you can become more grateful through
practice, and having a Growth Mindset. Even if it’s hard at first, you can get better at it over time. Through effort, we can train our brain to experience and express more gratitude.</li>
    </ul>

<h5>Gratitude exercises (Again, doing is believing)</h5>
<p>In this section, we have provided prompts from previous studies on gratitude to help you experience and express more gratitude.</p>
<ul>
<li>Gratitude Journaling Prompt 1:</li>
</p>“There are many things in our lives, both large and small, that we might be grateful
about. Think back over the past week and write down up to five things in your life that you are grateful or thankful for.” (Emmons & McCullough, 2003)</p>
<li>Gratitude Journaling Prompt 2:</li>
</p>“We want to focus for a moment on benefits or gifts that you have received in your life.
These gifts could be simple everyday pleasures, people in your life, personal strengths or talents, moments of natural beauty, or gestures of kindness from others.
We might not normally think about these things as gifts, but that is how we want you to think about them. Take a moment to really savor or relish these gifts, think about
their value, and then write them down every night before going to sleep.” (Emmons & Stern, 2013)</p>
<li>Gratitude Journaling Prompt 3:</li>
</p>Three good things in life. You will write down three things that went
well each day and their causes every night for one week. In addition, you will provide a causal explanation for each good thing. (Seligman, Steen, Park, & Peterson, 2005)</p>
<p><b>Note:</b> In one study, the Three Good Things exercise led to improvements in happiness and depressive symptoms six months after the exercise. Wow!</p>
<li>Gratitude Letter:</li>
</p>The gratitude letter is another gratitude intervention (similar to the "three good things" exercise you did previously).
It was designed by Martin Sellgman, <i>founder of Positive Psychology</i>.</p>
<p>
    Close your eyes. Call up the face of someone still alive who years ago did something or said something that
    changed your life for the better. Someone who you never properly thanked; someone you could meet face-to-face next week.
    Got a face? Gratitude can make your life happier and more satisfying. When we feel gratitude, we benefit from the pleasant
    memory of a positive event in our life. Also, when we express our gratitude to others, we strengthen our relationship with them.
    But sometimes our thank you is said so casually or quickly that it is nearly meaningless. In this exercise, you will have the opportunity
    to experience what it is like to express your gratitude in a thoughtful, purposeful manner.
</p>
<p>
    It should be 300 words or so. It should be to one person and be concrete and specific about what someone did for
    you and how it has affected your life. Mention what you are doing now and how what they've done for you is connected to this.
</p>
<p>
    <b>Note:</b> You do not have to send the letter or even tell someone about the letter. The exercise is definitely more
    effective when you do so, but it will also have an effect even if you do not send it.
</p>
</ul>
<br>

<h4><b>Module Three: Value Affirmation</b></h4>
<p>
    The value affirmation intervention is designed to help you become more concious of the things that you value and act more in accordance
    with your values. It is a modified version of the intervention described in Cohen, Garcia, Purdie-Vaughns, Apfel, and Brzustoski, 2009.<br><br>
    Values are things that are important in our lives and guide our behavior. For example, at Shamiri, one of our values is kindness. We want to be kind,
    especially to our friends. Helpfulness is also one of our values. We want to be helpful, especially to our participants.
</p>

<h5>What matters to you</h5>
<p>
    Can you think of few things that are important to you? These can be hobbies, abilities, relationships with people, or anything else that you feel is
    a big part of who you are?
</p>
<p>
    Below is a list of common values that some people feel are important in their lives. This, however, is not a complete list. There are probably
    values that you care about that you don't see on this list. Take a moment and look at the values listed here and see if you can think
    of some others that are not included. Thereafter, pick the ones matter most to you. Which do you most naturally use to guide your choices?
    What do you appreciate about yourself? Pick your top three. If something comes up that is not on the list, write it down. Later, choose one
    of your top values and write about it for 15-30 minures. Describe why this value is important to you and a time in your life when you had
    the opportunity to really express this value.<br>
     <textarea id="values" name="values" placeholder="Write about your value here.."></textarea>
     <div id="button">
     <button type="submit" class="btn btn-primary btn-lg">Submit</button>
     </div>
</p>


    • Acceptance • Adventure • Challenge • Collaboration • Commitment • Community • Compassion
    • Courage • Curiosity • Creativity • Discipline • Discovery
    • Efficiency • Enthusiasm • Environment • Equality • Excellence • Fairness
    • Faith/Religion • Family
    • Freedom • Friendship
    • Fun
    • Generosity • Gratitude • Happiness
    • Hard Work • Harmony • Health
    • Helping Others • Honesty
    • Humor • Independence • Innovation • Integrity • Interdependence
    • Leadership
    • Love
    • Loyalty
    • Meaningful Work • Mindfulness • Openness • Peace/Non-Violence • Personal Growth
    • Problem Solving • Reliability • Resourcefulness
    • Self-Reliance • Simplicity/Thrift • Strength
    • Tradition • Trust • Willingness • Wisdom

    </form>

    <script>

            if(document.getElementById('growth').value == "")
            {
                alert("Please Provide Details!");
                document.getElementById('growth').focus();
                return false;
            }

            if(document.getElementById('values').value == "")
            {
                alert("Please Provide Details!");
                document.getElementById('values').focus();
                return false;
            }
    </script>

{% endblock %}